name: simpl-ai

version: latest

services:
  server:
    build: ./server
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - OPENAI_API_KEY=your_openai_api_key_here
  frontend:
    build: ./frontend
    ports:
      - "5173:3000"
    depends_on:
      - server